In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('ocorrencia.csv', sep=';', parse_dates=['ocorrencia_dia'], dayfirst=True)
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,0
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,0

df.loc[0,'codigo_ocorrencia']

df.loc[:,'codigo_ocorrencia']

df.loc[[1,3]]

df.loc[2]

df.codigo_ocorrencia.is_unique

df.ocorrencia_uf.is_unique

df.loc[1]='hrztl'
df.head()

In [16]:
df.loc[:,'total_recomendacoes']=5
df.head(10)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05 00:00:00,20:27:00,5
1,hrztl,hrztl,hrztl,hrztl,hrztl,hrztl,hrztl,hrztl,5
2,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06 00:00:00,13:00:00,5
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06 00:00:00,17:00:00,5
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06 00:00:00,16:30:00,5
5,52243,52243,INCIDENTE,UBATUBA,SP,****,2012-01-06 00:00:00,14:30:00,5
6,50713,50713,INCIDENTE GRAVE,CAMPINAS,SP,SDAI,2012-01-07 00:00:00,18:15:00,5
7,45334,45334,INCIDENTE,BELÉM,PA,SBBE,2012-01-08 00:00:00,19:12:00,5
8,45391,45391,ACIDENTE,CONCEIÇÃO DAS ALAGOAS,MG,****,2012-01-08 00:00:00,16:00:00,5
9,52244,52244,INCIDENTE,UBERLÂNDIA,MG,SBUL,2012-01-08 00:00:00,22:13:00,5

In [20]:
df.loc[1,'codigo_ocorrencia']=12345
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05 00:00:00,20:27:00,5
1,12345,hrztl,hrztl,hrztl,hrztl,hrztl,hrztl,hrztl,5
2,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06 00:00:00,13:00:00,5
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06 00:00:00,17:00:00,5
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06 00:00:00,16:30:00,5

In [24]:
df.set_index('codigo_ocorrencia', inplace=True)
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
codigo_ocorrencia,,,,,,,,
52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05 00:00:00,20:27:00,5
12345,hrztl,hrztl,hrztl,hrztl,hrztl,hrztl,hrztl,5
45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06 00:00:00,13:00:00,5
45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06 00:00:00,17:00:00,5
45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06 00:00:00,16:30:00,5

In [25]:
df.loc[45407]

codigo_ocorrencia2                        45407
ocorrencia_classificacao               ACIDENTE
ocorrencia_cidade                      SÃO SEPÉ
ocorrencia_uf                                RS
ocorrencia_aerodromo                       ****
ocorrencia_dia              2012-01-06 00:00:00
ocorrencia_hora                        16:30:00
total_recomendacoes                           5
Name: 45407, dtype: object

In [27]:
df.reset_index(drop=True, inplace=True)
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05 00:00:00,20:27:00,5
1,12345,hrztl,hrztl,hrztl,hrztl,hrztl,hrztl,hrztl,5
2,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06 00:00:00,13:00:00,5
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06 00:00:00,17:00:00,5
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06 00:00:00,16:30:00,5

In [28]:
df['ocorrencia_uf_bkp'] = df.ocorrencia_uf

In [29]:
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05 00:00:00,20:27:00,5,RS
1,12345,hrztl,hrztl,hrztl,hrztl,hrztl,hrztl,hrztl,5,hrztl
2,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06 00:00:00,13:00:00,5,RS
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06 00:00:00,17:00:00,5,SP
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06 00:00:00,16:30:00,5,RS

In [30]:
df.loc[df.ocorrencia_uf == 'RS', ['ocorrencia_classificacao']] = 'TCHE'
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,52242,52242,TCHE,PORTO ALEGRE,RS,SBPA,2012-01-05 00:00:00,20:27:00,5,RS
1,12345,hrztl,hrztl,hrztl,hrztl,hrztl,hrztl,hrztl,5,hrztl
2,45333,45333,TCHE,VIAMÃO,RS,****,2012-01-06 00:00:00,13:00:00,5,RS
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06 00:00:00,17:00:00,5,SP
4,45407,45407,TCHE,SÃO SEPÉ,RS,****,2012-01-06 00:00:00,16:30:00,5,RS
...,...,...,...,...,...,...,...,...,...,...
5163,80452,80452,ACIDENTE,MARACAÍ,SP,*****,2021-12-31 00:00:00,09:30:00,5,SP
5164,80457,80457,TCHE,NOVO HAMBURGO,RS,SSNH,2021-12-31 00:00:00,11:59:00,5,RS
5165,80460,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31 00:00:00,15:12:00,5,PR
5166,80467,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31 00:00:00,20:30:00,5,PE
5167,5,5,5,5,5,5,5,5,5,5