In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('ocorrencia.csv', sep=';')
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,05/01/2012,20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,06/01/2012,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,****,06/01/2012,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,06/01/2012,17:00:00,0
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,06/01/2012,16:30:00,0
...,...,...,...,...,...,...,...,...,...
5162,80458,80458,ACIDENTE,JATAÍ,GO,####,30/12/2021,20:30:00,0
5163,80452,80452,ACIDENTE,MARACAÍ,SP,*****,31/12/2021,09:30:00,0
5164,80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,31/12/2021,11:59:00,0
5165,80460,80460,INCIDENTE,CURITIBA,PR,SBBI,31/12/2021,15:12:00,0
5166,80467,80467,INCIDENTE,PETROLINA,PE,SBPL,31/12/2021,20:30:00,0